.lead__image {
  max-width: 984px;
  filter: grayscale(100%);
  margin: auto;
  padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    max-width: 100%;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    padding-bottom: 64px;
  }
}
