.intro {
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  grid-template-columns: 785px 1fr;
  margin: auto;
  max-width: 894px;
}

@media screen and (max-width: 1280px) {
  .intro {
    display: flex;
  }
}






