.intro {
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 199px;
  margin: auto;
  padding-bottom: 118px;
  max-width: 984px;
}

@media screen and (max-width: 1280px) {
  .intro {
    grid-template-columns: 1fr;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 720px;
    padding-bottom: 90px;
  }
}






