.cover__item {
  min-height: 740px;
  text-decoration: none;
  /*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
*/
  background-image: url("../../../images/__footer-background.jpg");
  /*
  -webkit-background-size: cover;
  */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__item::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.cover__item:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 1280px) {
  .cover__item {
    min-height: 746px;
  }
}

@media screen and (max-width: 768px) {
  .cover__item {
    min-height: 254px;
  }
}
